In [1]:
import pandas as pd
import numpy as np

In [2]:
raw_df = pd.read_csv('../../raw_data/TEMP1')

In [4]:
def clean_subject(x):
    texts = x.split('\n')
    return texts[0]
def clean_meet(x):
    s = x['MEETING SCHEDULE']
    my_list_1 = list(map(str.strip, s.split('\n')))
    list_2 = []
    if len(my_list_1) > 4:
        if '' in my_list_1:
            ind = my_list_1.index('')
            list_2 = my_list_1[ind + 1:]
            my_list_1 = my_list_1[:ind]
    if len(my_list_1) == 1:
        x['DATE'] = (my_list_1[0],list_2[0] if list_2 else np.NaN)
    for i in range(len(my_list_1)):
        if i == 0:
            x['DAY'] = (my_list_1[i],list_2[i] if list_2 else np.NaN)
        elif i == 1:
            x['TIME'] = (my_list_1[i],list_2[i] if list_2 else np.NaN)
        elif i == 2:
            x['BUILDING'] = (my_list_1[i],list_2[i] if list_2 else np.NaN)
        else:
            x['DATE'] = (my_list_1[i],list_2[i] if list_2 else np.NaN)
    del x['MEETING SCHEDULE']
    return x
def enroll_cap(x):
    text_form = x['ENROLLMENT/CAPACITY'].split('/')
    x['ENROLLMENT'] = int(text_form[0])
    x['CAPACITY'] = int(text_form[1])
    del x['ENROLLMENT/CAPACITY']
    return x

In [5]:
raw_df['SUBJECT'] = raw_df['SUBJECT'].apply(clean_subject)
clean_df = (raw_df.apply(clean_meet, axis=1)).apply(enroll_cap, axis=1)

In [10]:
new_cols = ['CRN', 'TITLE', 'SECTION', 'SUBJECT', 'NUMBER', 'CAMPUS', 'CREDITHOURS', 'BUILDING', 'DATE', 'DAY', 'TIME', 'ENROLLMENT', 'CAPACITY', 'DELIVERY']

In [11]:
clean_df = clean_df[new_cols]

In [12]:
clean_df

,CRN,TITLE,SECTION,SUBJECT,NUMBER,CAMPUS,CREDITHOURS,BUILDING,DATE,DAY,TIME,ENROLLMENT,CAPACITY,DELIVERY
0,14181,Business Computing,A,CSE,148,Oxford,3,"(BEN 024, nan)","(01/29 - 05/17, nan)","(MW, nan)","(8:30am-9:50am, nan)",28,28,Face-to-Face
1,17114,Business Computing,B,CSE,148,Oxford,3,"(BEN 024, nan)","(01/29 - 05/17, nan)","(MW, nan)","(10:05am-11:25am, nan)",29,28,Face-to-Face
2,14183,Business Computing,C,CSE,148,Oxford,3,"(BEN 024, nan)","(01/29 - 05/17, nan)","(MW, nan)","(11:40am-1:00pm, nan)",29,28,Face-to-Face
3,14185,Business Computing,D,CSE,148,Oxford,3,"(BEN 024, nan)","(01/29 - 05/17, nan)","(MW, nan)","(1:15pm-2:35pm, nan)",29,28,Face-to-Face
4,14186,Business Computing,E,CSE,148,Oxford,3,"(BEN 024, nan)","(01/29 - 05/17, nan)","(MW, nan)","(2:50pm-4:10pm, nan)",29,28,Face-to-Face
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,19370,Image Processing,A,CSE,588,Oxford,3,"(DSB 302, nan)","(01/29 - 05/17, nan)","(MW, nan)","(2:50pm-4:10pm, nan)",9,3,Face-to-Face
106,19668,Emerging Topics in Comp Sci,A,CSE,602,Oxford,1,"(, nan)","(01/29 - 05/17, nan)","(W, nan)","(4:25pm-5:20pm, nan)",19,30,Face-to-Face
107,14327,Seminar Attendance Requirement,A,CSE,611,Oxford,0,NaN,"(01/29 - 05/17, nan)","(01/29 - 05/17, nan)",NaN,0,0,Face-to-Face
108,19371,Advanced Networks,A,CSE,617,Oxford,3,"(BEN 002, nan)","(01/29 - 05/17, nan)","(TR, nan)","(8:30am-9:50am, nan)",25,30,Face-to-Face
109,19583,Large-Scale Empirical Sftw Eng,A,CSE,620F,Oxford,3,"(BEN 207, nan)","(01/29 - 05/17, nan)","(TR, nan)","(10:05am-11:25am, nan)",15,30,Face-to-Face